.container {
    height: 500px;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 20px ;
    font-family: sans-serif;
    animation: fadeInUp 1.6s ease-out;
  }
  
  .palette {
    display: flex;
    height: 86%;
    width: 100%;
  }
  
  .color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: flex 0.8s linear;
    font-size: larger;
  }
  
  .color span {
    opacity: 0;
    transition: opacity 0.1s linear;
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: inline-block;
    max-width: 100%;
    text-align: center;
    color: #672280;
  }


  .color span:hover{
    box-shadow: 0px 0px 30px 1px rgba(103, 34, 128, 0.30);
    cursor: pointer;
  }


  .palette .color {
    padding: 10px; /* Add padding inside each .color for better spacing */
}
  
  .color:nth-child(1) {
    background: #D1BCD8;
  }
  
  .color:nth-child(2) {
    background: #C2A6CC;
  }
  
  .color:nth-child(3) {
    background: #B290BF;
  }
  
  .color:nth-child(4) {
    background: #A37AB2;
  }
  
  .color:nth-child(5) {
    background: #9464A6;
  }
  
  .color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .color:hover span {
    opacity: 1;
  }
  
  #stats {
    height: 14%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #bebebe;
  }
  
  #stats svg {
    fill: #bebebe;
    transform: scale(1.2);
  }

  .h3{
    color: #672280;
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}